.sessions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: scl(1);
}

.session-btn {
  background: transparent;
  border: 1px solid var(--gd-button--bg);
  box-shadow: none;
  border-radius: 5px;
  color: var(--gd-button--bg);
  display: flex;
  justify-content: center;
  padding: scl(0.5);
}

.session-btn.is-selected {
  background: var(--gd-button--bg);
  color: var(--gd-button--color);
}

.session-btn:disabled {
  border: 1px solid var(--gd-button--bg--disabled);
  background: var(--gd-button--bg--disabled);
  color: var(--gd-button--color--disabled);
}

.warning {
  background: var(--gd-label--bg--warning);
  border-radius: 3px;
  display: flex;
  gap: scl(1);
  align-items: center;
  font-size: 14px;
  padding: scl(1);
  line-height: scl(2);
}

.warning-icon {
  fill: var(--gd-label--icon-color--warning);
  height: scl(2);
  width: scl(2);
}
