:root {
  --gd-tickets-input-ticket-group--name--color: var(--gd-text--default);
  --gd-tickets-input-ticket-group--price-label--color: var(--gd-text--muted);
  --gd-tickets-input-ticket-group--description--color: var(--gd-text--muted);
}

.ticket-group-input {
  border: 0;
  border-bottom: 1px dotted var(--gd-form--field--border-color);
  display: flex;
  padding: scl(2) 0;
}

.ticket-group-input:last-child {
  border: 0;
}

.ticket-group-info {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.name {
  color: var(--gd-tickets-input-ticket-group--name--color);
  font-weight: 500;
  line-height: scl(4);
}

.price-label {
  color: var(--gd-tickets-input-ticket-group--price-label--color);
  font-weight: 400;
  line-height: scl(4);
}

.description {
  color: var(--gd-tickets-input-ticket-group--description--color);
}

.quantity {
  align-items: center;
  display: flex;
  flex: 0;
  gap: scl(2);
}

.decrement-btn,
.increment-btn {
  align-items: center;
  background: var(--gd-button--bg);
  border: 0;
  box-shadow: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: scl(7);
  width: scl(7);
}

.decrement-btn:disabled,
.increment-btn:disabled {
  background: var(--gd-button--bg--disabled);
  cursor: default;
}

.increment-btn svg g,
.decrement-btn svg g {
  stroke: var(--gd-button--color);
}

.increment-btn:disabled svg g,
.decrement-btn:disabled svg g {
  stroke: var(--gd-button--color--disabled);
}

.quantity-value {
  color: var(--gd-text--default);
  font-size: 16px;
  font-weight: 500;
  line-height: scl(3);
  text-align: center;
  width: scl(3);
}

.is-zero {
  color: var(--gd-text--muted);
}
